<!-- main.html -->

<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>수정/삭제하기</title>
    <link rel="stylesheet" href="./css/reserveStyles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <a href="javascript:window.history.back();"
        ><span class="arrow-prev"></span
      ></a>
      <h3 class="title">수정/삭제하기</h3>
    </header>
    <main>
      <form id="reserveForm">
        <fieldset>
          <legend>출발지</legend>
          <input
            id="name"
            name="name"
            type="text"
            placeholder="김쿠쿠"
            class="input"
            maxlength="10"
            required
          />
          <label for="name" class="label"></label>
        </fieldset>

        <fieldset>
          <legend>비밀번호</legend>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="1234"
            class="input"
            maxlength="10"
            required
          />
          <label for="password" class="label"></label>
        </fieldset>

        <fieldset>
          <legend>차량번호</legend>
          <input
            id="carNumber"
            name="carNumber"
            type="text"
            placeholder="10 쿠 1234"
            pattern="[0-9]{2,3} [ㄱ-ㅎ|ㅏ-ㅣ|가-힣]{1} [0-9]{4}"
            class="input"
            required
            maxlength="9"
          />
          <label for="carNumber" class="label"></label>
        </fieldset>

        <fieldset>
          <legend>전화번호</legend>
          <input
            id="tel"
            name="tel"
            type="tel"
            oninput="autoHyphen(this)"
            pattern="[0-9]{3}-[0-9]{3,4}-[0-9]{4}"
            placeholder="010-1234-5678"
            class="input"
            required
            maxlength="13"
          />
        </fieldset>
        <a href="./checkReservation.html">
          <div id="check">내 정보 조회하기</div>
        </a>
      </form>
    </main>
    <script src="./js/regex.js"></script>
  </body>
</html>
