<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>관리자 회원가입</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"/>

    <!-- jQuery, Popper, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>


    <link rel="stylesheet" href="./css/join.css" />

    <script>
      if (localStorage.getItem("token")){
        getSelf(function () {
          alert("이미 로그인 되어있습니다.");
          window.location.replace("/");
        });
      }
    </script>  
  </head>

  <body>
    <header>
      <a href="javascript:window.history.back();">
        <span class="arrow-prev"></span></a>
        <h3 class="title1">관리자 회원가입</h3>
    </header> 
    <div class="mainWrap">
      <div class="inputWrap">
        <div class="id">
          <input id="id" type="text" placeholder="ID" />
        </div>
        <div class="email">
          <input id="email" type="text" placeholder="EMAIL" />
        </div>
        <div class="pass">
          <input id="pass" type="password" placeholder="PASS" />
        </div>
        <div class="passCheck">
          <input id="passCheck" type="password" placeholder="PASS CHECK" />
        </div>
      </div>
      <div class="btn_wrap">
        <!-- <a href="./join.ejs"> -->
          <button onclick="join()" id="joinBtn" type="button">회원가입</button>
          <a href="/login"  id="backBtn" type="button">로그인으로</a>
        </a>
      </div>
    </div>

    <!-- Scripts  -->
    <script src="/js/join.js"></script>

  </body>
</html>
