@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.arrow-prev {
  position: absolute;
  left: 35px;
  top: 22px;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 3px solid rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
  transform: rotate(225deg);
}

h3.title {
  min-width: 320px;
  padding: 1.2rem 0 1rem;
  margin: 0;
  text-align: center;
  background: #3bb2e9;
  color: #ffffff;
  height: 4rem;
  font-family: "Pretendard";
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  padding-top: 2rem;
  width: 80%;
}

fieldset {
  border-radius: 10px;
  margin-bottom: 1.2rem;
  border: solid 2px #c4c4c4;
  display: relative;
  transition: border 0.25s ease-in;
}

fieldset:focus-within {
  border: solid 2px #777;
}

/* "개"를 오른쪽에 두기 */
fieldset #pallete {
  width: 85%;
}

legend {
  color: #c4c4c4;
  padding: 3px 6px;
  transition: color 0.25s ease-in;
}

/* 입력창을 하나 선택했을 때 그것만 진해지게 하고싶다 */
fieldset:focus-within legend {
  color: #2b2b2b;
}

input {
  border: none;
  margin-top: 0.4rem;
  font-size: 18px;
}

::placeholder {
  color: #898989;
}

input:focus {
  outline: none;
}

select {
  width: 100%;
  font-size: 18px;
  border: none;
}

#editDelete {
  background: #17739d;
  top: 30rem;
  height: 3.4rem;
  min-width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

Button {
  text-decoration: none;
  top: 42rem;
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
  padding: 10px 10px 10px 10px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background: #3bb2e9;
  border-radius: 0.4rem;
  transition: background 0.25s ease-in;
}

a {
  text-decoration: none;
}

#check {
  text-align: center;
  height: 3rem;
  padding: 14px 10px 10px 10px;
  vertical-align: middle;
  background: #3bb2e9;
  border-radius: 0.4rem;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
}

.submitButton:hover,
.editButton:hover,
#check:hover {
  background: rgb(0, 65, 98);
}

.deleteButton {
  background: #e93b3b;
}

.deleteButton:hover {
  background: #b82121;
}
